{% extends 'analysis/base.html' %}

{% block header %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-5 mx-auto">
        <div id="map_syd" class="map col-12"></div>
        <script type="text/javascript">
            var mymap = L.map('map_syd').setView([-37.8136, 144.9631], 10);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibGluY20iLCJhIjoiY2s5cW1lcGdjMGw1eTNwcnJnZGtxa2tnMyJ9.hKe0POHobqG_unsp9Yr5Hw'
        }).addTo(mymap);
        
        var mel_marker = L.marker([-37.8136, 144.9631]).addTo(mymap);
        mel_marker.bindPopup("Melbourne Population: 4,963,349").openPopup();
        </script>
        <div class="d-block py-3 text-center">
            Top 5 #Hashtag in Melbourne
        </div>
        {% for key, value in melb_count %}
            <span class="col-5 mx-auto d-block">
                #{{ key }}: {{ value }}
            </span>
        {% endfor %}
    </div>
    
    <div class="col-5 mx-auto">
        <div id="map_melb" class="map col-12"></div>
        <script type="text/javascript">
            var mymap = L.map('map_melb').setView([-33.8688, 151.2093], 10);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibGluY20iLCJhIjoiY2s5cW1lcGdjMGw1eTNwcnJnZGtxa2tnMyJ9.hKe0POHobqG_unsp9Yr5Hw'
        }).addTo(mymap);
    
        var syd_marker = L.marker([-33.8688, 151.2093]).addTo(mymap);
        syd_marker.bindPopup("Sydney Population: 5,230,330").openPopup();
        </script>
        <div class="d-block py-3 text-center">
            Top 5 #Hashtag in Sydney
        </div>
        {% for key, value in syd_count %}
            <span class="col-5 mx-auto d-block">
                #{{ key }}: {{ value }}
            </span>
        {% endfor %}
    </div>
</div>

<div class="chart-container mx-auto" style="position: relative; height:100vh; width:50vw">
    <canvas id="BarChart" width="400" height="400"></canvas>
    <script>
    var barChartData = {
        labels: ['0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8', '0.9', '1'],
        datasets: [{
            label: 'Melbourne Positive',
            backgroundColor: 'rgba(0, 0, 255, 0.5)',
            stack: 'Melbourne',
            data: [
                {% for key, value in melb_sentimentTenth_Pos %}
                    {{ value }}/({{ melb_sentimentPosNeg.0.1 }} + {{ melb_sentimentPosNeg.1.1 }})*100,
                {% endfor %}
            ]
        }, {
            label: 'Melbourne Negative',
            backgroundColor: 'rgba(255, 0, 0, 0.5)',
            stack: 'Melbourne',
            data: [
                {% for key, value in melb_sentimentTenth_Neg %}
                    -{{ value }}/({{ melb_sentimentPosNeg.0.1 }} + {{ melb_sentimentPosNeg.1.1 }})*100,
                {% endfor %}
            ]
        }, {
            label: 'Sydney Positive',
            backgroundColor: 'rgba(255, 255, 0, 0.5)',
            stack: 'Sydney',
            data: [
                {% for key, value in syd_sentimentTenth_Pos %}
                    {{ value }}/({{ syd_sentimentPosNeg.0.1 }} + {{ syd_sentimentPosNeg.1.1 }})*100,
                {% endfor %}
            ]
        }, {
            label: 'Sydney Negative',
            backgroundColor: 'rgba(255, 165, 0, 0.5)',
            stack: 'Sydney',
            data: [
                {% for key, value in syd_sentimentTenth_Neg %}
                    -{{ value }}/({{ syd_sentimentPosNeg.0.1 }} + {{ syd_sentimentPosNeg.1.1 }})*100,
                {% endfor %}
            ]
        }]

    };
    window.onload = function() {
        var ctx = document.getElementById('BarChart').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                title: {
                    display: true,
                    text: 'Melbourne vs Sydney Twitter Sentimental Analysis in Percentage'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    };
    </script>
</div>

{% endblock %}