{% extends 'analysis/base.html' %}

{% block header %}Map{% endblock %}

{% block content %}

<div id="mapid" class="map"></div>
<script type="text/javascript">
    var mymap = L.map('mapid').setView([-37.8136, 144.9631], 5);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoibGluY20iLCJhIjoiY2s5cW1lcGdjMGw1eTNwcnJnZGtxa2tnMyJ9.hKe0POHobqG_unsp9Yr5Hw'
}).addTo(mymap);

var mel_marker = L.marker([-37.8136, 144.9631]).addTo(mymap);
mel_marker.bindPopup("Melbourne Count");

var syd_marker = L.marker([-33.8688, 151.2093]).addTo(mymap);
syd_marker.bindPopup("Sydney Count");

</script>

{% endblock %}
