{% extends 'analysis/base.html' %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
<!-- Leaflet Marker Cluster CSS -->
<link rel="stylesheet" href="{% static 'MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}">
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- Leaflet Marker Cluster JS -->
<script src="{% static 'leaflet.markercluster.js' %}"></script>
{% endblock %}

{% block header %}Rental{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <div class="col-12 text-center h2">
            Melbourne
        </div>
        <div class="col-12 text-center">
            Average Twitter Sentiment: {{ melb_sentiment }}
        </div>
        <div class="col-12 text-center">
            Sum Square: {{ melb_sumsqr }}
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="col-12 text-center h2">
            Sydney
        </div>
        <div class="col-12 text-center">
            Average Twitter Sentiment: {{ syd_sentiment }}
        </div>
        <div class="col-12 text-center">
            Sum Square: {{ syd_sumsqr }}
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-5 mx-auto">
        <div id="map_melb" class="map col-12"></div>
        <script type="text/javascript">
            var mymap = L.map('map_melb').setView([-37.8136, 144.9631], 7);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibGluY20iLCJhIjoiY2s5cW1lcGdjMGw1eTNwcnJnZGtxa2tnMyJ9.hKe0POHobqG_unsp9Yr5Hw'
        }).addTo(mymap);

        function sum(markers) {
            var sum = 0.0;
            for (var i = 0; i < markers.length; i++) {
                value = markers[i].getPopup().getContent();
                if (value != "null") {
                    sum += parseFloat(value);
                    console.log(sum)
                }
            }
            return sum.toFixed(0);
        }
        
        var markers = L.markerClusterGroup({
            iconCreateFunction: function(cluster) {
                return L.divIcon({
                    html: sum(cluster.getAllChildMarkers()),
                    className: 'myCluster',
                    iconSize: L.point(40, 40)
                });
            }
        });
        {% for value, lat, long in melb_cities %}
            markers.addLayer(L.marker([{{long}}, {{lat}}]).bindPopup("{{ value }}"))
        {% endfor %}
        mymap.addLayer(markers)
        </script>
    </div>
    <div class="col-5 mx-auto">
        <div id="map_syd" class="map col-12"></div>
        <script type="text/javascript">
            var mymap = L.map('map_syd').setView([-33.8688, 151.2093], 7);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibGluY20iLCJhIjoiY2s5cW1lcGdjMGw1eTNwcnJnZGtxa2tnMyJ9.hKe0POHobqG_unsp9Yr5Hw'
        }).addTo(mymap);

        var markers = L.markerClusterGroup({
            iconCreateFunction: function(cluster) {
                return L.divIcon({
                    html: sum(cluster.getAllChildMarkers()),
                    className: 'myCluster',
                    iconSize: L.point(40, 40)
                });
            }
        });
        {% for value, lat, long in syd_cities %}
            markers.addLayer(L.marker([{{long}}, {{lat}}]).bindPopup("{{ value }}"))
        {% endfor %}
        mymap.addLayer(markers)
        </script>
    </div>
    
</div>

<div class="row pt-5 align-items-center">
    <div class="chart-container col-6 mx-auto" style="position: relative; height:80vh; width:30vw">
        <canvas id="BarChart" width="400" height="400"></canvas>
        <script>
        var barChart = new Chart(document.getElementById("BarChart"), {
            type: 'bar',
            data: {
                labels: ['Melbourne', 'Sydney'],
                datasets: [{
                    label: 'Average Rental Accessibility',
                    data: [{{melb_avg}}, {{syd_avg}}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>
    </div>
    <div class="col-6">
        <img class="img-fluid rounded my-auto mx-auto d-block" src="{% static 'data/melb_vs_syd_rental_affordability.png' %}" alt="Melbourne VS Sydney Rental Affordability Image">
    </div>
</div>

{% endblock %}