{% extends 'analysis/base.html' %}
{% load static %}

{% block javascript %}
{{ block.super }}
<!-- Leaflet Ajax JS -->
<script src="{% static 'leaflet.ajax.min.js' %}"></script>

<!-- Leaftlet Heat -->
<script src="{% static 'leaflet.heat.js' %}"></script>
{% endblock %}

{% block header %}Transport{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <div class="col-12 text-center h2">
            Melbourne
        </div>
        <div class="col-12 text-center">
            Average Twitter Sentiment: {{ melb_sentiment }}
        </div>
        <div class="col-12 text-center">
            Sum Square: {{ melb_sumsqr }}
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="col-12 text-center h2">
            Sydney
        </div>
        <div class="col-12 text-center">
            Average Twitter Sentiment: {{ syd_sentiment }}
        </div>
        <div class="col-12 text-center">
            Sum Square: {{ syd_sumsqr }}
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-5 mx-auto">
        <div id="map_syd" class="map col-12"></div>
        <script type="text/javascript">
            var mymap = L.map('map_syd').setView([-37.8136, 144.9631], 9);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibGluY20iLCJhIjoiY2s5cW1lcGdjMGw1eTNwcnJnZGtxa2tnMyJ9.hKe0POHobqG_unsp9Yr5Hw'
        }).addTo(mymap);
        

        var geojsonLayer = L.geoJSON.ajax("{% static 'data/PTV_TRAIN_CORRIDOR_CENTRELINE.geojson' %}").addTo(mymap)
        var heat = L.heatLayer([
            {% for intensity, long, lat in melb_heat %}
                [{{ lat }}, {{ long }}, {{ intensity }}],
            {% endfor %}
        ], {radius: 50}).addTo(mymap)

        </script>
        <div class="d-block py-3 text-center">
            <a href="{% static 'data/PTV_TRAIN_CORRIDOR_CENTRELINE.geojson' %}">Download Melbourne Train Corridor Centreline</a>
        </div>
    </div>
    
    <div class="col-5 mx-auto">
        <div id="map_melb" class="map col-12"></div>
        <script type="text/javascript">
            var mymap = L.map('map_melb').setView([-33.8688, 151.2093], 9);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibGluY20iLCJhIjoiY2s5cW1lcGdjMGw1eTNwcnJnZGtxa2tnMyJ9.hKe0POHobqG_unsp9Yr5Hw'
        }).addTo(mymap);

        var geojsonLayer = L.geoJSON.ajax("{% static 'data/syd_train_centreline.geojson' %}").addTo(mymap)
        var heat = L.heatLayer([
            {% for intensity, lat, long in syd_heat %}
                [{{ lat }}, {{ long }}, {{ intensity }}],
            {% endfor %}
        ], {radius: 50}).addTo(mymap)

        </script>
        <div class="d-block py-3 text-center">
            <a href="{% static 'data/syd_train_centreline.geojson' %}">Download Sydney Train Corridor Centreline</a>
        </div>
    </div>
    
</div>

<div class="chart-container mx-auto" style="position: relative; height:60vh; width:30vw">
    <canvas id="BarChart" width="400" height="400"></canvas>
    <script>
    var barChart = new Chart(document.getElementById("BarChart"), {
        type: 'bar',
        data: {
            labels: ['Melbourne', 'Sydney'],
            datasets: [{
                label: 'Average Transport Accessibility',
                data: [{{melb_avg}}, {{syd_avg}}],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
</div>

{% endblock %}