/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  height:  100vh;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: dimgray;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link.disabled {
  color: lightgray;
}

.sidebar .nav-link:hover {
  color: inherit;
}

html,
body {
  min-height: 100vh;
}

.container-fluid {
  min-height: 100vh;
}
