{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        
        {% block stylesheet %}{% endblock %}
        {% block javascript %}{% endblock %}

        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    
        <title>CCC ASMCCC2</title>
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-dark fixed-top bg-dark shadow">
            <a class="navbar-brand col-3" href='#'>CCC ASM2</a>
        </nav>
        
        <div class="container-fluid " id="main">
            <div class="row">
                {% with view_name=request.resolver_match.view_name %}
                <nav class="col-2 d-none d-block bg-light sidebar pt-5">
                    <div class="sidebar-sticky mt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-3">
                                <a class="nav-link {% if view_name == 'home:index' %}active{% endif %}" href="{% url 'home:index' %}">
                                    <i class="fas fa-desktop col-1 p-0" style="font-size: 1.5rem;"></i>
                                    <span class="ml-4" style="font-size: 1.25em;">Overview</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if view_name == 'analysis:dashboard' %}active{% endif %}" href="{% url 'analysis:dashboard' %}">
                                    <i class="fas fa-chart-bar col-1 p-0" style="font-size: 1.5rem;"></i>
                                    <span class="ml-4" style="font-size: 1.25em;">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item col-12">
                                <a class="nav-link {% if view_name == 'analysis:transport' %}active{% endif %}" href="{% url 'analysis:transport' %}">
                                    <span class="ml-4" style="font-size: 1.25em;">- Transport</span>
                                </a>
                            </li>
                            <li class="nav-item col-12">
                                <a class="nav-link {% if view_name == 'analysis:rental' %}active{% endif %}" href="{% url 'analysis:rental' %}">
                                    <span class="ml-4" style="font-size: 1.25em;">- Rental</span>
                                </a>
                            </li>
                            <li class="nav-item mb-3 col-12">
                                <a class="nav-link {% if view_name == 'analysis:internet' %}active{% endif %}" href="{% url 'analysis:internet' %}">
                                    <span class="ml-4" style="font-size: 1.25em;">- Internet</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item mb-3">
                                <a class="nav-link {% if view_name == 'couch_docs:index' %}active{% endif %}" href="{% url 'couch_docs:index' %}">
                                    <i class="fas fa-database col-1 p-0" style="font-size: 1.5rem;"></i>
                                    <span class="ml-4" style="font-size: 1.25em;">Database</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
                {% endwith %}

                <main class="col-10 px-4 mt-5 ml-auto">
                    <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom my-3">
                        <span class="h2">{% block header %}{% endblock %}</span>
                    </div>

                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>

        <!-- Footer -->
        <!-- navbar navbar-dark fixed-top bg-gery shadow -->
        <footer class="col-10 ml-auto bg-white shadow py-3">
            <div class="container text-center">
                <span class="text-muted "></span>
            </div>
        </footer>
    </body>
</html>
