{% extends 'home/base.html' %}
{% load static %}

{% block header %}COMP90024 Cluster and Cloud Computing Assignment 2{% endblock %}

{% block content %}

<div class="text-center">
    <div class="row">
        <span class="h2 col-12">Group 50</span>
        <span class="h5 col-2 mx-auto text-info">Ming Pan</span>
        <span class="h5 col-2 mx-auto text-info">Emma Arrigo</span>
        <span class="h5 col-2 mx-auto text-info">Chunxi Mick Lin</span>
        <span class="h5 col-2 mx-auto text-info">Ruochong Shen</span>
        <span class="h5 col-2 mx-auto text-info">Xuanzhe Wang</span>

        <img class="img-fluid rounded mx-auto d-block pt-3" src="{% static 'SydneyMelbourne.webp' %}" alt="Sydney vs Melbourne" width="900">
    </div>
</div>

{% endblock %}